.card-base {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    align-items: stretch !important;
    margin: 1vw;
    box-shadow: var(--shadow-main);
    border-radius: 1em;
    overflow: hidden;
}

.card-img {
    overflow: hidden;
}

.card-text-content {
    display: flex;
    flex-direction: column;
}
.card-text-content > h1 {
    text-transform: uppercase;
}
.card-text-content ul {
    margin: 0;
    padding: 0;
    flex-flow: row;
    list-style-type: none;
}