.card-base {
    margin: 1vh;
    padding: 0;
    background-color: white;
    width: 100%;
    align-items: stretch !important;
    box-shadow: var(--shadow-main);
    border-radius: 1em;
    overflow: hidden;
}

.card-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 2vh;
}
.card-text-content > h1 {
    text-transform: uppercase;
}
.card-text-general {
    margin: 0;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.card-text-general li {
    color: var(--color-main);
    line-height: 0.9em;
    font-size: 1em;
}

.card-text-desc {
    max-height: 20vh;
    overflow: hidden;
    text-align: justify !important;
}

.card-img {
    display: flex;
    background-color: gray;
}

.card-img img {
    max-height: 30vh;
    width: auto;
    margin: auto;
}

.card-text-toggle {
    margin-top: 1vh;
}

.card-controls {
    padding-top: 1vh;
    margin-top: 1vh;
}

@media (min-width: 540px) {
    .card-text-content {
        padding-left: 0;
    }
    .card-base {
        max-height: 40vh !important;
    }
    .card-text-toggle {
        display: none;
    }
    .card-text-desc {
        display: block !important;
    }
    .card-img img {
        max-height: 35vh;
    }
}