.card-base {
    margin: 1vh;
    padding: 0;
    background-color: white;
    width: 100%;
    align-items: stretch !important;
    box-shadow: var(--shadow-main);
    border-radius: 1em;
    overflow: hidden;
}

.card-text-content {
    display: flex;
    flex-direction: column;
}
.card-text-content > h1 {
    text-transform: uppercase;
}
.card-text-content ul {
    margin: 0;
    padding: 0;
    flex-flow: row;
    list-style-type: none;
}

.card-img {
    overflow: hidden;
    display: flex;
    align-content: center;
}

@media (min-width: 540px) {
    .card-base {
        max-height: 35vh !important;
    }
}


/* @media (max-width: 540px) {
    .img-desktop {
        display: none;
    }
}
@media (min-width: 540px) {
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
}

@media (min-width: 960px) {
    .img-mobile {
        display: block;
    }
    .img-desktop {
        display: none;
    }
} */