.row > div {
    display: flex;
    align-items: stretch !important;
}

@media (min-width: 540px) {
    .container-fluid {
        max-width: 65vw !important;
    }
}

@media (min-width: 720px) {
    .container-fluid {
        max-width: 80vw !important;
    }
}