@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800|Playfair+Display');

:root {
    --font-title: "Montserrat";
    --font-subtitle: "Montserrat";
    --font-body: "Playfair Display";
}

h1 {
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 2em;
    line-height: 0.85em;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-subtitle);
    font-weight: 500;
}

p {
    font-family: var(--font-body);
    font-size: 0.9em;
    font-weight: 400
}

strong {
    font-family: var(--font-subtitle);
    font-weight: 500
}

a {
    color: inherit;
}

ul {
    font-family: var(--font-body);
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 0.5vh;
}